<div class="contact-icons">
	<a href="https://www.facebook.com/<%= theme.facebook %>"  target="_blank">
		<i class="ico facebook"  target="_blank"></i>
	</a>
	<a href="https://twitter.com/<%= theme.twitter %>"  target="_blank">
		<i class="ico twitter"  target="_blank"></i>
	</a>
	<a href="https://br.linkedin.com/in/<%= theme.linkedin %>"  target="_blank">
		<i class="ico linkedin"  target="_blank"></i>
	</a>
	<a href="https://github.com/<%= theme.github %>"  target="_blank">
		<i class="ico github"></i>
	</a>
</div>
